# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# IntelliJ IDEA
out
*.ipr
*.iws
*.iml
.idea

# Gradle
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs and temp
*.log
*.tmp
*.swp
*.swo

# Forge
eclipse/
run/
forge*changelog.txt

# Executables
*.jar
